body {
    font-family: "Hanken Grotesk", sans-serif;
    color: #000;
    margin: 0;
    padding-top: 50px; /* Para evitar que el contenido quede bajo la navbar */
}
a {
    color: #000; /* Color negro */
    text-decoration: none;
}

a:hover {
    color: #666; /* Gris oscuro */
    text-decoration: underline;
}

.back-link {
    font-size: 1rem;
    margin-bottom: 2rem;
    display: block;
}
/* Barra */
.navbar {
    background-color: transparent; /* Fondo transparente */
    padding: 10px 0; /* Ajuste de padding para que no se vea muy grande */
    margin: 0;
    position: fixed; /* Hacer que el navbar se quede fijo al hacer scroll */
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegurar que quede encima de otros elementos */
}

/* Estilo para los enlaces del navbar */
.navbar-brand,
.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #333; /* Color inicial del texto */
    text-decoration: none;
}

/* Hover efecto para los enlaces */
.nav-link:hover {
    color: #888; /* Color al pasar el cursor */
}

/* Enlace activo */
.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #000;
}

/* Ajustar margen del contenido principal para que no quede detrás del navbar */
.main-content {
    margin-top: 60px; /* Ajusta este valor si el navbar es más alto */
}

/* Título */
.hero-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#hero {
    padding: 0;
}

.col-md-4 h5 {
    margin-top: 10px;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
}

.single-project h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#project-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#project-type {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

#project-year {
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    margin-bottom: 1.5rem;
}

#project-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

/* Galería */
.project-gallery img {
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Sobre mí */
.about-page h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.about-page p {
    font-size: 1rem;
    line-height: 1.6;
    color: #000;
}

.footer {
    position: relative; /* Si no deseas que flote */
    bottom: 0;
    width: 100%;
    padding: 20px; /* Ajusta el espacio dentro del footer */
    background-color: transparent;
    text-align: center;
}

.footer-left,
.footer-right {
    display: inline-block;
    vertical-align: middle;
}

.footer a {
    color: #333; /* Negro */
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: #666;
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar-brand,
    .nav-link {
        font-size: 14px;
    }

    .hero-image {
        margin: 10px auto;
    }

    .col-md-4 h5 {
        font-size: 0.9rem;
    }
    .project-first-image img {
        width: 100%;
    }
    #project-title {
        font-size: 2rem;
    }
    #project-type {
        font-size: 1.5rem;
    }
}
